*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.button {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 3px;
    border: 1px solid black;
    cursor: pointer;
}

.row {
    padding: 8px 0;
}

.row input {
    padding: 14px 31px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid black;
}