
.text-center {
    text-align: center;
}

.max-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-content {
    align-items: center;
}

.arithmeticOp {
    background-color: yellow;
    color: #090909;
    font-weight: 600;
}

.numberButton {
    background-color: lightcyan;
    color: #090909;
    font-weight: 600;
}